:root {
	--sidebar-width: 25vw;
}
body {
	background-color: #ffffff;
}
h1 {
	color: #585ea3
}
a:link {
	font-size: smaller;
	color: 585ea3;
	text-decoration: none;
}
a {
  color: #5555FF;
}
a:visited {
  color: #5555FF;
}
a:hover {
  color: #9999FF;
}

.site {
	display:grid;
	grid-gap: 1rem;
	grid-template-columns: var(--sidebar-width) auto;
}

#main {
	grid-column-start: 2;
	padding-top: 1rem;
}

.sidebar{
	position: fixed;
	width: var(--sidebar-width);
	height: 100%;
	background-color: lightsteelblue;
	display:grid;
	grid-gap: 1rem;
	grid-template-rows: auto minmax(0,1fr) ;
}

.filter {
	padding: 2rem;
}

#map {
	height: 100%;
	width: 100%;
}

.circle {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	font-size: 16px;
	font-weight: bold;
	background: rgba(0, 57, 128, 0.2);
	border-color: #3388FF;
	color: #405c78
}

.activeMarker {
	border-color: #062046;
	border-style: dashed !important;
	box-shadow: 5px 5px 5px;
}

#main > .navbar {
	margin-top: -1rem;	
	margin-left: -1rem; 
}
.navbar {
	margin-bottom: 1rem;
}
#navbarNav {
	justify-content: space-between;
}

/*curl modal*/
@media (min-width: 768px) {
	.modal-dialog {
	  width: 45%;
	 max-width:1200px;
	}
  }
